
 .drawings {
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    height: 30%;
    width: 30%;
       border-radius: 15px;
    box-shadow:rgba(6, 206, 206, 0.726);
   
}


@media(max-width:600px){
    .drawings{ 
     border-radius: 20px;
    
     
         flex-direction:row;
          justify-content:right;
         margin: 20px;
         
         margin-left: 40%;
         margin-right: 35%;  
         
        
       }
    }   
    @media(max-width:600px){
        .drawings img{ 
        margin-top: 15%; 
            
           }
        }   